@model AnyPointObjects.UserViewModel

@{
    if (@ViewBag.ID > 0)
    {
        ViewData["Title"] = "Change user";
    }
    else
    {
        ViewData["Title"] = "New user";

    }
}

<h3>@ViewData["Title"]</h3>

<hr />

<div class="row">
    <div class="col-md-10">
        <section>
            <form asp-controller="Account" asp-action="UserEdit" method="post" class="form-horizontal">
                <input type="hidden" value="@ViewBag.ID" name="Id" />
                <div class="form-group">
                    <label asp-for="UserName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="UserName" style="display: block" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" style="display: block" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Submit" />
                        <a href="~/Account/Users" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>