<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
                <div style="display: inline-block">
                    <span style="color:lightgrey;font-size:large">Product Store</span><br />
                    <span style="color:lightgrey;font-size:small">integrated with Anypoint Platform</span>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>© 2016 PlmSoft</p>
        </footer>
    </div>
</body>
</html>